$white: #DCCACA;

$brand-bkg: #A83A3C;
$brand-txt: #D49D9E;
$brand-dark-txt: #541D1E;

$link-bkg: #C39B7A;
$link-txt: $brand-dark-txt;

$link-active-bkg: #AA6C39;
$link-active-txt: $brand-dark-txt;

$active-bkg: #904513;
$active-txt: #DCD2CA;
$inactive-bkg: #DCD2CA;
$inactive-txt: #A96C3E;
